# CONFIGURACION DEL SERVIDOR
PORT=3000

# BASE DE DATOS (POSTGRESQL)
# Opcion 1: Cadena de conexion completa (Neon, Render, Railway, Supabase)
# DATABASE_URL=postgresql://usuario:password@host:5432/nombre_db?sslmode=require

# Opcion 2: Parametros locales
DB_USER=postgres
DB_PASSWORD=tu_password_local
DB_HOST=localhost
DB_PORT=5432
DB_NAME=thecream_db
